<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QA Testing Link Shortening Microservice</title>
    <script src="{{ url_for('ui.static', filename='index.js') }}"></script>
</head>

<body>
    <h1>Link Shortening App</h1>
    <label for="longUrl">Enter long URL:</label>
    <input type="text" id="longUrl" , placeholder="https://example.com">
    <button id="shortenButton">Shorten URL</button>
    <p id="shortUrl"></p>
</body>

</html>